{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/mypic.jpg' )}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Introduction</h2>
        <p>My name is Rashid Ahmad, I have awarded by Inspire Scholership from central government and also participated in Inspire Scholership program in Allahabad at IIIT(Indian Institute of Information Technology) college and met there German and Indian Scientist, I have completed my Degree in computer from Mumbai University in 2020. I am a fast <b><i>Learner</i></b> and <b><i>Creative.</i></b> I am a passionate python coder and also have good knowledge of <b>DJANGO, FLASK, HTML, CSS, BOOTSRAP, JAVASCRIPT.</b>
          <br>
          <h2>Partial knowledge in Programming Languages</h2>
          <p>C, C++, .NET, JAVA PHP </p>
        </p>
      </div>
    </div>
  </div>
{% endblock %}